<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="base::layout(~{::section})"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <section class="banner d-flex justify-content-center align-items-center">
      <div class="col-md-6 order-first offset-md-3 me-auto">
        <div class="text-center">
          <h1 class="m-4">Smart Contact Manager</h1>
          <h6>Start Collecting your contact in smart way</h6>
          <button type="button"  class="btn btn-primary btn-lg m-4 text-white"><a href="/singup" style="text-decoration: none; color:white;">Get Start</a></button>
        </div>
      </div>
    </section>
  </body>
</html>
